html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
    font-family: 'Open Sans', sans-serif;
    color: #4e585e;
}
button {
    cursor: pointer;
}
.page {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.page.page_active {
    display: flex;
}
.page__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.variant-full > .page__wrapper {
    justify-content: start;
}
.back-btn {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 900;
    background-color: transparent;
    background-image: url(./imgs/arrow_rev.png);
    background-size: 55%;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 9;
}
.back-btn:focus {
    outline: none;
}
.tariffs__elem, .variants__elem {
    background-color: #ffffff;
    margin-bottom: 18px;
}
.tariff, .variant {
    padding: 0 0 0 15px;
    border-bottom: 1px solid #dfdfe2;
    border-top: 1px solid #dfdfe2;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px 0;
    background-color: #f7f7f8;
    border-bottom: 1px solid #dfdfe2;
    margin-bottom: 25px;
    justify-content: center;
}
header .variants__title {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 14pt;
}
.tariff .tariff__title, .variant .variant__title {
    position: relative;
    display: flex;
    margin: 0;
    padding: 10px 0;
    font-size: 14pt;
    color: #87c333;
    font-weight: 600;
    border-bottom: 1px solid #dfdfe2;
}
.tariff .tariff__info, .variant .variant__info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 7px 0;
    box-sizing: border-box;
}
.info > span {
    position: relative;
    display: block;
    width: max-content;
    padding: 5px 8px 5px 0;
    font-weight: 600;
}
.info span.info__speed {
    position: relative;
    padding-left: 15px;
    left: -15px;
    color: white;
}
.info .info__speed.color_earth{
    background-color: #70603e;
}
.info .info__speed.color_water{
    background-color: #0075d9;
}
.info .info__speed.color_air{
    background-color: #88e9ec;
}
.info .info__speed.color_fire{
    background-color: #e74807;
}
.info info__speed {
    position: relative;
    padding-left: 15px;
    left: -15px;
}
.info .info__list {
    margin: 0;
    padding: 3px 0;
    list-style: none;
}
.info .info__list:not(:last-child) {
    padding-bottom: 5px;
}
.info .info__list li {
    margin: 0;
    padding: 1px 0;
}
.info .info__list.low_opacity {
    opacity: .55;
}
.info .info__next {
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    background-image: url(./imgs/arrow.png);
    background-size: 40%;
    background-position: center center;
    background-repeat: no-repeat;
}
.info .info__next:focus {
    outline: none;
}
.tariff__link {
    position: relative;
    display: flex;
    color: #268eff;
    text-decoration: none;
    padding: 10px 0;
    font-size: 11pt;
    border-top: 1px solid #dfdfe2;
}
.variant-full__select-btn-wrapper {
    padding: 7px 15px 7px 0;
    border-top: 1px solid #dfdfe2;
}
.variant-full__select-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: none;
    background-color: #82c12b;
    color: white;
    padding: 10px 0;
    font-size: 11pt;
    border-top: 1px solid #dfdfe2;
}
.variant-full__select-btn:focus {
    outline: none;
}
.variant-full__select-btn[disabled] {
    background-color: #669624;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .page__wrapper {
        position: relative;
        width: 80%;
        height: max-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }
    .variant-full > .page__wrapper {
        justify-content: center;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
    }
    .back-btn {
        background-size: 13%;
    }
    .tariffs__elem, .variants__elem {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 46%;
        min-height: 240px;
        margin: 2%;
        box-sizing: border-box;
        border: 1px solid #dfdfe2;
    }
    .info {
        flex-grow: 1.1;
    }
}
@media (min-width: 1024px) {
    .page__wrapper {
        position: relative;
        width: 80%;
        height: max-content;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
    }
    .variant-full > .page__wrapper {
        justify-content: center;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
    }
    .back-btn {
        background-size: 13%;
    }
    .tariffs__elem, .variants__elem {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        min-height: 240px;
        margin: 1%;
        box-sizing: border-box;
        border: 1px solid #dfdfe2;
    }
    .info {
        flex-grow: 1.1;
    }
}